* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

body,
html {
    height: 100%;
}

/* icon通用css */
/* .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 32px;
} */

.body {
    background: url('../images/4.png') no-repeat fixed;
    background-color: white !important;
    background-size: cover !important;
    transition: ease-in-out 1.5s;
}

.main {
    margin: auto;
    background-color: rgba(152, 152, 152, 0.0); /*背景遮罩*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* height: 16.2rem; */
    padding: 4rem;
    box-sizing: border-box;
    font-size: 1.56rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    /* text-shadow: black 0.05em 0.05em 0.1em; */
}

.LinKing {
    width: 31.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align:start;
    position:relative;
    top:0;
    left:0;
}

.sentence {
    display: flex;
    justify-content: flex-end;
}

.BR {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.from {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.date {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    /* line-height:3.5rem; */
}

.hour {
    height: 83px;
    font-size: 3rem;
    line-height: 83px;
}

.day {
    font-size: 4rem;
    line-height: 4rem;
    display: flex;
    justify-content: space-around;
}

.MonYea {
    line-height: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.month {
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding-right: 0.3rem;
}

.year {
    font-size: 1.2rem;
    line-height: 1.2rem;
}

/* 文字 */
#word1{
    color:rgb(234, 243, 193);
    position: relative;
    font-family: cursive;
    font-size: 10vw;
    text-rendering:auto;
    text-align: center;
    overflow: hidden;
    top: 47px;

}
#word2{
    color:rgb(111, 246, 246);
    position: relative;
    font-family: cursive;
    font-size: 5vw;
    text-rendering:auto;
    text-align: center;
    overflow: hidden;
    top: 47px;

}

/* 数字时钟 */
.clock{
    margin: auto;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -999;
}
/* 翻页时钟 */
body {
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.column,
.colon {
    display: inline-block;
    vertical-align: top;
    font-size: 86px;
    line-height: 86px;
}

.column {
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
}

.colon {
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    transform: translateY(calc(50vh - 43px));
}

.colon:after {
    content: ':';
}

.num {
    transition: opacity 500ms, text-shadow 100ms;
    opacity: 0.025;
}

.num.visible {
    opacity: 1.0;
    text-shadow: 1px 1px 1px #000;
}

.num.close {
    opacity: 0.35;
}

.num.far {
    opacity: 0.15;
}

.num.distant {
    opacity: 0.1;
}

/* 音频可视化 */
#canvas{
    position: absolute;
    margin: auto;
    display: inline-block;
    top: 260px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}
